 {% extends 'base.html' %}
 {% load static %}
  {% block title %} THE SPIRIT OF LIFE MINISTRY INTERNATIONAL INCORPORATED | ABOUT {% endblock %}

 {% block content %}
    <!-- ##### About Us Area Start ##### -->
    <div class="about-us-area about-page section-padding-100">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-9">
                    <div class="about-content">
                        <h2>THE SPIRIT OF LIFE MINISTRY INTERNATIONAL INCORPORATED</h2>
                        <p>Bishop Samuel D. Ocheja is the presiding Bishop and founder of the Spirit of Life ministry International Incorporated and the senior Pastor of Green Pastures Assembly. He has a vision of reaching the world with the word of God with emphasis on purity and power, prosperity and purpose. He has been in full time preaching and teaching ministry since 1990. He is a graduate of Ahmadu Bello University Zaria with a degree in economics. (1988) and a PhD from Acts seminary and graduate schools.
									He travels extensively across the nations of the world preaching and teaching in churches, crusades, seminars and conferences and God confirms his word with diverse miracles, healing and deliverances and salvation of souls.
										He also presides over the spirit of Life Bible College, the training arm of the ministry. He is happily married to pastor Mrs Florence Ocheja and they are blessed with three boys and two girls. They reside in Abuja Nigeria from where they oversee the work of the ministry.</p>
                       <h2>CHRISTIAN EDUCATION</h2>
					   <P>The Spirit of life Bible college is the ministerial training arm of the ministry which was established in 2000.The vision of the Bible college is to train and equip men and women with the word and necessary skills that will enable them to reach the dying world and bring in the harvest of souls as they fulfil the call of God on their life.
Experienced ministers are available to impart the knowledge of God in a way to make them relevant in the challenge of the 21st century global Christian ministry.
The college offers the following courses;
                                <ul>
                                    <li >(1). Advanced Bible Course (Certificate course)</li>
                                    <li>(2). Ministerial Bible Course. (Diploma course)</li>
                                    <li>(3). Bachelor of Theology (Degree course)</li>
                                </ul><BR>
                            
							
							<P>All courses are currently being offered on part time basis and lectures are held on weekends.
						Many have graduated from the college and have gone ahead to serve in various capacities as Christian workers in churches and ministries across the 
						world as agents of change and reaching the lost for Jesus.Admission forms are available at our office address. or for more info call the college 
					administrator  on 08032361659: 08057230060. </P>
					
						<h2>PARTNERSHIP.</h2>
						<p>Whenever God gives a man a vision, it will take the participation of partners who are touched by God and are willing to make sacrifices of their time, talent and resources to release the manifestation of the vision.
							You can partner with us today and experience the joy that comes from knowing that it is through your support that we can be out there on the frontline reaching the world with the word of life and touching many with 
							the compassion of Jesus. Partnering will us will guarantee you a great reward not only in this life but in that which is to come.</p><br>
							
						<h2>SUPPORT FOR THE MINIISTRY</h2>
						<p>The ministry is financed by the faithful giving of members of the church and faithful financial partners and donors across the world.
							To support us with your finances or any other resources for the furtherance of the gospel, you can call +234 8054417013, +2348137915736 or 
							email us on evergreenpastures23@yahoo.com </p><br>
							
						<h2>BANK ACCOUNT DETAILS</h2>
						<p>ACCOUNT NAME: SPIRIT OF LIFE MINISTRY INT’L INC.<br>BANK: ZENITH BANK PLC<br>AC NO.1011889864<br>BANK: ECO BANK PLC<br>AC.NO.0008766828.</p><br>
						<h2>HOUR OF LIFE RADIO BROADCAST</h2>
						<p>The man of God reaches out to multitudes of radio audience through the Jordan 93.9 fm at Abuja station on Saturdays by 3.pm.
						Life transforming and inspiring messages are transmitted to millions of listeners weekly to bless the multitudes with the word of life. 
						This programme is sponsored by our faithful church members and ministry partners all over the world.</p><br>
						
						
						<h2>INVITATION AS GUEST SPEAKER.</h2>
						<p>Dr. Samuel D. Ocheja is available for invitation for ministry at crusades seminars and outreaches in churches and ministries across the world. Enquiries about invitations 
						for programmes should be forwarded to samocheja@yahoo.com</p><br>
						
						
						<h2>SPIRIT OF LIFE PUBLICATIONS</h2>
						<p>Dr. Samuel D. Ocheja has authored and published the following books.</p>
						<ul>
                                    <li>(1). A way for you</li><br>
   									<li>(2). Prophets and prophecy</li><br>
                                    <li>(3). A-Z of the new life.</li><br>
                                    <li>(4). Inspirational nuggets.</li><br>
                                    <li>(5). 50 powerful secrets of Prayer</li><br>
                                    <li>(6). 50 powerful secrets of Diving healing</li><br>
									<li>(7). Inspirational nuggets-Biblical economics.</li><br>
									<li>(8). Spirit of Life bulletin-a periodic journal.</li><br>
									<li>(9). Friends-Explore the mystery of relationship</li><br>
                                    <li>(10). Give thanks-provoking an attitude of appreciation</li><br>
									<li>(11). Woman you are an asset. Pastor Mrs. Florence Ocheja. (Author).</li><br>
                                    <li>(12). Woman you are blessed. Pastor Mrs. Florence Ocheja. (Author).</li><br>
                                </ul><br>
								
								<h2>FOR PRAYER, COUNSELLING AND OTHER INFORMATION.</h2>
						<p>The ministry provides an avenue for reaching out to those that are hurting, sick and oppressed, and need prayer, counselling and spiritual help.
						Our office is open on Tuesdays to Fridays 10am to 3p.m for visit.
							Reach us on our email address: evergreenpastures23@yahoo.com or you you could contact us through the contact page form. God bless you!</p><br>
						
					   <div class="opening-hours-location mt-30 d-flex align-items-center">
                            <!-- Opening Hours -->
                            <div class="opening-hours">
                                <h6><i class="fa fa-clock-o"></i> Opening Hours</h6>
                                <p>Tue - Fri at 10:00am - 03:00pm <br>Sunday by 08:00 - 03:00</p>
                            </div>
                            <!-- Location -->
                            <div class="location">
                                <h6><i class="fa fa-map-marker"></i> Location</h6>
                               <p>No.1. green pastures Avenue Behind <br>Zenith bank Phase 2 site 2 kubwa Abuja. </p>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <!-- ##### About Us Area End ##### -->

    <!-- ##### Call To Action Area Start ##### -->
    <section class="call-to-action-area section-padding-100 bg-img bg-overlay" style="background-image: url(img/bg-img/6.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action-content text-center">
                        <h6>A Place For You</h6>
                        <h2>To support this ministry with your finances or any other resources for the furtherance of the gospel, you can call +234 (805) 441-7013, 
						+234 (813) 791-5736 or email us on evergreenpastures23@yahoo.com </h2>
                        <a href="#" class="btn crose-btn btn-2">BECOME A PARTNER</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Call To Action Area End ##### -->

   
     <!-- ##### Subscribe Area Start ##### -->
    <section class="subscribe-area">
        <div class="container">
            <div class="row align-items-center">
                <!-- Subscribe Text -->
                <div class="col-12 col-lg-6">
                    <div class="subscribe-text">
                        <h3>Subscribe To Our Newsletter</h3>
                        <h6>Subcribe to receive our monthly newsletters today!</h6>
                    </div>
                </div>
                <!-- Subscribe Form -->
                <div class="col-12 col-lg-6">
                    <div class="subscribe-form text-right">
                        <form action="#">
                            <input type="email" name="subscribe-email" id="subscribeEmail" placeholder="Your Email">
                            <button type="submit" class="btn crose-btn">subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Subscribe Area End ##### -->
    {% endblock %}