aniso8601
asgiref
dj-database-url
Django
django-ckeditor
django-js-asset
graphene
graphene-django
graphql-core
graphql-relay
gunicorn
Pillow
promise
pytz
Rx
singledispatch
six
sqlparse
text-unidecode
white
whitenoise
psycopg2-binary
