 {% extends 'base.html' %}
 {% load static %}
  {% block title %} THE SPIRIT OF LIFE MINISTRY INTERNATIONAL INCORPORATED | CONTACT- SUCESSFUL {% endblock %}

 {% block content %}
<!-- HEADER-TITLE
================================================== -->

<!-- Contact-Details
================================================== -->
<section class="contact_page padding_100 text-left">
  <div class="container">
    <div class="col-md-8 col-sm-8">
      <p>Your message has been sent successfully. Thank you:)</p>
    </div> <!-- End of Col-8 -->
    <!-- Address -->
    <div class="col-md-3 col-sm-3 col-md-offset-1 col-sm-offset-1">
      <h4 class="h4 text-ca text-bold-7 padding-t-b-10">Office: </h4>
      <address>
        <p><i class="fa fa-map-marker text-16 txt-custom"></i> &nbsp;123,Street name,San Francisco,CA</p>
        <p><i class="fa fa-phone text-16 txt-custom"></i> &nbsp;+976 70007000</p>
        <p><i class="fa fa-envelope-o text-16 txt-custom"></i> &nbsp; support@UpfrontFreightage.com</p>
        <p><i class="fa fa-globe text-16 txt-custom"></i> &nbsp; <a href="#">www.domain.com</a></p>
      </address>
    </div> <!-- End of Col-3 -->
  </div> <!-- End Of container -->
</section>
<!-- End of Contact -->
{% endblock %}